<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Formulário</title>
  <link rel="stylesheet" href="../public/stylesheets/estilo.css">
</head>
<body>
  <h1>Informe seus dados de login:</h1>
  <form action="/logincorreto" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha"><br><br>

    <button type="submit">Enviar</button>
  </form>
</body>
</html>
